<div class="nav-section">
    <div class="w-container">
      <div class="w-nav" data-collapse="medium" data-animation="default" data-duration="400"></div>
      <div class="logo">
        <img src="src/common/assets/images/logo_skinandink.jpg" alt="535e119da768f6785e000973_logo_skinandink.jpg">
      </div>
      <div class="w-clearfix nav_desktop">
        <a class="button" onClick="importHtml.init('gallery',0, true,'piercing')" href="#">BODY&nbsp;PIERCING</a>
        <a class="button openFullBg" href="#">TATTOO</a>
      </div>
      <div class="w-clearfix nav_desktop_roght">
        <a class="button" href="#">BOOK NOW</a>
        <a class="button" href="#">NEWS</a>
      </div>
    </div>
  </div>



  <div id="h" class="">
    <div class="section hero" ng-controller="SliderController">
      <slider images="images" />
    </div>

    <div class="section" id="info">
      <div class="w-container">
        <div class="w-row">
          <div class="w-col w-col-6">
            <h3>About:</h3>
            <p class="fb_description"></p>
            <h3>Gallery:</h3>
            <div class="w-row gallery_thumb_left_col"></div>
          </div>
          <div class="w-col w-col-6">
            <h3>Info:</h3>
            <p>Phone:&nbsp;<span class="fb_phone"></span>
              <br>
              <br>Hours:&nbsp;<strong>Mon – Sat</strong>: 11:00 – 18:00
              <br>
              <br>Address:<strong> <span class="fb_street"></span></strong>
            </p>
            <div class="w-widget w-widget-map map" data-widget-latlng="51.475268,-0.039217" data-widget-style="roadmap" data-widget-zoom="12" data-widget-tooltip="Skin&amp;Ink Tattoo Studio"></div>
          </div>
        </div>
      </div>
      <div></div>
    </div>

  </div><!-- END home -->
  